
body { 
    margin: 0; 
    overflow: hidden; 
    background-color: #111; 
    font-family: 'Press Start 2P', cursive; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    width: 100vw; 
    user-select: none; 
    -webkit-user-select: none; 
    touch-action: none; 
}

body.fullscreen {
    display: block;
}

canvas { 
    display: block; 
    image-rendering: pixelated; 
    width: 100%; 
    height: 100%; 
}

.hidden { 
    display: none !important; 
}

button, .card, .settings-btn, input { 
    touch-action: manipulation; 
    cursor: pointer; 
}
